<%= simple_form_for(ingredient) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :quantity %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, data: { disable_with: 'Please wait...' } %>
  </div>
<% end %>
