<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<%= link_to 'New Ingredient', new_ingredient_path %>
<hr>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th width="400">Description</th>
      <th>Quantity</th>
      <th>Stock available</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.description %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.stock %></td>
        <td><%= ingredient.created_at.strftime("%d %b. %Y at %H:%M") %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', ingredient %></li>
              <li><%= link_to 'Edit', edit_ingredient_path(ingredient) %></li>
              <li><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?', disable_with: 'Please wait...' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
