<%= simple_form_for(order) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :description %>
  </div>

  <div class="row">
    <% order.product_configurations.each do |product_configuration| %>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= field_set_tag 'Product' do %>
              <%= form.simple_fields_for "product_configurations_attributes[]", product_configuration do |pc| %>
                <%= pc.input :id, as: :hidden %>
                <%= pc.input :product_id, collection: Product.all, label_method: :display_name, prompt: "Select product..." %>
                <%= pc.input :quantity %>
                <% if product_configuration.id %>
                  <%= link_to 'Destroy', order_product_configuration_path(order, product_configuration), class: 'btn btn-danger', method: :delete, data: { disable_with: 'Please wait...', confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, data: { disable_with: 'Please wait...' } %>
  </div>
<% end %>
