<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>
<hr>
<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th width="400">Description</th>
      <th>Total</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.display_name %></td>
        <td><%= order.description %></td>
        <td><%= money order.total %></td>
        <td><%= order.created_at.strftime("%d %b. %Y at %H:%M") %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', order %></li>
              <li><%= link_to 'Edit', edit_order_path(order) %></li>
              <li><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?', disable_with: 'Please wait...' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
