<%= simple_form_for(product) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :price %>
    <%= form.input :style, collection: Product.styles.keys.to_a, prompt: "Select style..." %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
