<p id="notice"><%= notice %></p>

<h1><%= @product.name %></h1>
<%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>

<hr>

<dl>
  <dt>Price</dt>
  <dd><%= money @product.price %></dd>
  <dt>Style</dt>
  <dd><%= @product.style %></dd>
</dl>

<blockquote>
  <p><%= @product.description %></p>
</blockquote>

<table class='table'>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @product.ingredient_configurations.each do |ingredient_configuration| %>
      <tr>
        <td><%= ingredient_configuration.ingredient.name %></td>
        <td><%= ingredient_configuration.quantity %></td>
        <td><%= ingredient_configuration.created_at.strftime("%d %b. %Y at %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Quantity: <strong><%= @product.quantity %></strong> | Stock available: <strong><%= @product.stock %></strong></h3>
