<!DOCTYPE html>
<html>
  <head>
    <title>Kalbermatter</title>
    <%= render partial: "layouts/layout_header" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/nav" %>
    <div class="container">
      <%= render partial: "layouts/flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>
